@model EntityLayer.Entities.Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="~lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />

<div class="contaigner">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" >
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true,"",new{@class="btn btn-danger"})

                <div class="form-group">
                    <label>Ad</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" />
                    
                </div>
                <br />
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" name="Description" value="@Model.Description" />
                 </div>
                 <br />
                  <div class="form-group">
                    <label>Önceki Resim</label>
                    <img src="~/css/image/@Model.Image"width="70" height="70" />
                    
                 </div>
                 <div class="form-group">
                     @Html.LabelFor(x=>x.Image, "Resim", htmlAttributes:new {@class="control-label-col-md-2" })
                    <input type="file" class="form-control" name="file" />
                    
                 </div>
                 <br />
                 <div class="form-group">
                    <label>Fiyat</label>
                    <input type="text" class="form-control" name="Price" value="@Model.Price" />
                    
                 </div>
                 <br />
                 <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control" name="Stock" value="@Model.Stock" />
                    
                 </div>
                 <br />
                 <div class="form-group">
                    <label>Popüler</label>
                    @Html.EditorFor(x=>x.Popular)
                  
                 </div>
                 <br />
                  <div class="form-group">
                    <label>Onay</label>
                    @Html.EditorFor(x=>x.IsApproved)
                    
                 </div>
                  <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.ktgr, new {@class="form-control"})
                 </div>
                 <button class="btn btn-primary" type="submit">Güncelle</button>
                 <a href="/AdminProduct/Index/" class="btn btn-primary">Ürün Listesi</a>
            </form>
        </div>
    </div>
</div>

